{% extends 'base.html' %}

{% block content %}
    <p>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'category_list' %}">Category</a>
        <a href="{% url 'account_list' %}">Account</a>
    </p>
</p>
<a href="{% url 'category_list' %}">Category List</a>
</p>
<p>
    <a href="{% url 'create_category' %}">Create category</a>
</p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for item in category %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.receipts.all|length }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
